@mixin row {
    display: flex;
    align-items: center;
}


@mixin font($font-style , $font-weight , $font-size , $line-height , $color) {
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}